<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Selecione a sala</ion-list-header>
    <ion-item>
      <ion-label fixed>Nome</ion-label>
      <ion-input type=text [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sala</ion-label>
      <ion-select value="cinema" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="cinema">Cinema</ion-select-option>
        <ion-select-option value="curiosidades">Curiosidades</ion-select-option>
        <ion-select-option value="esportes">Esportes</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>